.welcome-section {
  background-color: #f2f4fb;
  padding-top: 100px;
  padding-bottom: 100px;
}

.welcome-section-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.welcome-text-part {
  max-width: 350px;
}

.welcome-img {
  max-width: 650px;
}